*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 60px;
    background-color: #0a6c5a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(images/amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.nav-address{
    margin: 5px 2px 5px 0px;
    padding: 5px 9px;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
    
}
.add-icon{
    display: flex;
    align-items: center;
    
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    
    
    
}
.search-select{
    background-color:#E6E6E6;
    width: 50px;
    height: 38px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    
    
    
}
.search-input{
    width: 100%;
    height: 38px;
    font-size: 0.80rem;
    padding: 7px 10px 10px 0px;
    border:none;
    outline: none;

    
    
    
    
}
.search-icon{
    width: 45px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #a9176f;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    
    
}
span{
    font-size: 0.7rem;
    font-family: #ffffff;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;      
}
.nav-signin{
    padding: 0px 9px 10px;
    color: #ffffff;
}
.nav-return{
    padding: 0px 9px 10px;
    color: #ffffff;
}
.nav-cart i{
    font-size: 28px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    padding: 5px 9px 10px;
}
.nav-search:hover{
    border: 1px solid #a9176f;
    
}
.panel{
    display: flex;
    justify-content: space-between;
    background-color: #085749;
    height: 39px;
    align-items: center;
    color: #fff;
}
.panel-all{
    margin-left: 1rem;
    padding: 8px 9px;
    cursor: pointer;
}
.panel-options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30rem;
    
}
.panel-options p{
    margin-left: 15px;
    color: #ffffff;
    padding: 9px 8px;
    font-size: 0.80rem;
    cursor: pointer;
}
.panel-deal{
    margin-right: 20px;
    padding: 7px 9px;
}
.panel-deal p{
    color: #ffffff;
    font-size: 0.83rem;
    line-height: 15px;
    font-weight: 700;
    cursor: pointer;
}
.hero-section{
    background-image: url(images/hero.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}
.hero-msg{
    background-color: #fff;
    color: #000;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 1rem;
}
.hero-msg a{
    color: #007185;
}
.shop-section{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #eeeeee;
}
.box{
    height: 400px;
    width: 24%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 1rem;
}
.box-img{
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
    
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content a{
    text-decoration: none;
    font-size: 13px;
    color: #007185;
    margin-bottom: 10px;
}
.box-content h2{
    font-size: 21px;
    margin-bottom: 10px;
}
.box-content a:hover{
    color: rgba(246, 56, 56, 0.777);
}
.box5{
    height: auto;
    width: 24%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 1rem;
}
.img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}
.img-item{
    width: 48%;
    margin-bottom: 10px;
    
    
}
.img-item img{
    width: 100%;
    height: 91%;
    
    
    
    
}
.img-item p{
    font-size: 12px;
    cursor: pointer;
    color: #0f1111;
}
.box-cont{
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
    
}
.see-more{
    text-decoration: none;
    font-size: 13px;
    color: #007185;
    display: block;
    margin-top: 2.5rem;
    
    
}
.box-cont a:hover{
    color: rgba(246, 56, 56, 0.777);
}
.box-cont h2{
    padding: 10px;
}
footer{
    margin-top: 1rem;
}
.footer-panel1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475a;
    height: 50px;
    color: white;
    font-size: 0.85rem;
}
.footer-panel2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222f3d;
    color: white;
    height: 300px;
}
.footer-panel2 ul p{
    font-size: 16px;
    margin: 6px 0px 14px;
}
.footer-panel2 ul a{
    display: flex;
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 14px;
}
.footer-panel2 ul{
    margin: 5rem;

}
.footer-panel3{
    background-color: #222f3d;
    color: white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    background-image: url(images/amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
}
.footer-panel4{
    background-color: #131a22;
    color: white;
    height: 77px;
    font-size: 12px;
    padding: 0px 7.2px;
    
}
.pages{
    text-align: center;
    padding-top: 25px;
}
.pages a{
    margin-left: 10px;
}
.copy{
    text-align: center;
    margin-top: 10px;
}

